body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.container {
  background-image: url(/backgr.avif);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.title {
  color: white;
  font-size: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
